Repository rayyildiz/go-react-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:builds, frontend:build

backend:builds:
  stage: build
  image: golang:1.13
  services:
  - postgres:11
  variables:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: '123456'
    POSTGRES_DB: postgres
    POSTGRES_CONNECTION: postgres://postgres:123456@postgres:5432/postgres?sslmode=disable
  cache:
    paths:
    - /usr/local/go/
  before_script:
  ...

frontend:build:
  stage: build
  image: node:10.15.2
  cache:
    paths:
    - /builds/${CI_PROJECT_PATH}/web/app/node_modules/
  before_script:
  - cd /builds/${CI_PROJECT_PATH}/web/app
  script:
  - yarn
  - yarn build
  artifacts:
    paths:
    - /builds/${CI_PROJECT_PATH}/web/app/build

frontend > Dockerfile
  .gitignore
  .gitlab-ci.yml
  README.md
  deployments/frontend/Dockerfile
  main.go
  web/app/src/components/app_header.js
  web/app/src/constants.js
Due: backend:builds, frontend:build

ignore web/app for fresh
  runner.conf
Due: none

Create LICENSE
  LICENSE
Due: none

go-cloud support
  .gitignore
  Makefile
  README.md
  go.mod
  go.sum
  internal/infra/docstore.go
  web/app/package.json
  web/app/yarn.lock
Due: backend:builds, frontend:build

Update README.md
  README.md
Due: none

typo
  Makefile
  internal/infra/http.go
Due: backend:builds

use config spec explicitly
  go.mod
  go.sum
  internal/infra/config.go
  internal/infra/logger.go
  internal/infra/postgresql.go
  main.go
  web/app/package.json
  web/app/yarn.lock
Due: backend:builds, frontend:build

typo
  README.md
  internal/infra/config.go
  internal/infra/docstore.go
  main.go
Due: backend:builds

add sentry log handler
  internal/infra/http.go
Due: backend:builds

sentry should capture exception with other http information ( headers, cookie,...)
  go.mod
  go.sum
  internal/infra/logger.go
Due: backend:builds

Add license scan report and status
  README.md
Due: none

upgrade third party tools
  go.mod
  go.sum
  web/app/package.json
  web/app/yarn.lock
Due: frontend:build

upgrade dependencies
  README.md
  go.mod
  go.sum
  web/app/package.json
  web/app/yarn.lock
Due: frontend:build

Update Dockerfile
  deployments/backend/Dockerfile
Due: backend:builds

Rename habndler.go to handler.go
  pkg/auth/handler.go
Due: backend:builds

added polyfil for EDGE browser. Added github actions support. Upgraded dependencies.
  .github/workflows/ci.yml
  Makefile
  README.md
  builds/create-schema.sql
  docker-compose.yml
  go.mod
  go.sum
  internal/infra/logger.go
  runner.conf
  scripts/create-schema.sql
  web/app/package.json
  web/app/src/index.tsx
  web/app/yarn.lock
Due: backend:builds, frontend:build

upgrade packages
  cmd/api/main.go
  cmd/worker/main.go
  go.mod
  go.sum
  internal/infra/postgresql.go
  web/app/package.json
  web/app/yarn.lock
Due: backend:builds, frontend:build

update dependencies
  go.mod
  go.sum
  web/app/package.json
  web/app/yarn.lock
Due: frontend:build

upgrade dependencies
  go.mod
  go.sum
  web/app/package.json
  web/app/yarn.lock
Due: frontend:build

yarn -> npm
  .github/workflows/ci.yml
  .gitignore
  go.mod
  go.sum
  web/app/cloudbuild.yaml
  web/app/package-lock.json
  web/app/yarn.lock
Due: frontend:build

fixed warning message related to un-clickable icon on firefox
  web/app/package-lock.json
  web/app/package.json
  web/app/src/Components/Header.tsx
Due: frontend:build

update dependencies
  .github/workflows/ci.yml
  README.md
  docker-compose.yml
  go.mod
  go.sum
  web/app/package-lock.json
  web/app/package.json
Due: frontend:build

upgrade dependencies
  docker-compose.yml
  go.mod
  go.sum
  web/app/package-lock.json
  web/app/package.json
Due: frontend:build

update dependencies
  .github/workflows/ci.yml
  go.mod
  go.sum
  web/app/package-lock.json
  web/app/package.json
Due: frontend:build

upgrade go1.16 and react #4 #5
  .github/workflows/ci.yml
  cmd/api/.gitignore
  cmd/worker/.gitignore
  go.mod
  go.sum
  web/app/package-lock.json
  web/app/package.json
  web/app/src/App.Routes.tsx
  web/app/src/App.test.tsx
  web/app/src/App.tsx
  web/app/src/Pages/Auth/ForgetPasswordPage.tsx
  web/app/src/Pages/Auth/LoginPage.tsx
  web/app/src/Pages/Auth/RegisterPage.tsx
  web/app/src/Pages/IndexPage.tsx
  web/app/src/Pages/PrivacyPage.tsx
  web/app/src/index.tsx
  web/app/tsconfig.json
Due: backend:builds, frontend:build

upgrade deps to latest version
  .github/workflows/ci.yml
  go.mod
  go.sum
  internal/infra/http.go
  internal/infra/logger.go
  web/app/package-lock.json
  web/app/package.json
Due: backend:builds, frontend:build

build error
  .github/workflows/ci.yml
  web/app/src/App.Routes.tsx
  web/app/src/Components/Header.tsx
  web/app/src/Pages/Auth/ForgetPasswordPage.tsx
  web/app/src/Pages/Auth/LoginPage.tsx
  web/app/src/Pages/Auth/RegisterPage.tsx
Due: frontend:build

secyrity fix
  web/app/package-lock.json
  web/app/package.json
Due: frontend:build

update deps
  .github/workflows/ci.yml
  go.mod
  go.sum
Due: none

update deps
  go.mod
  go.sum
Due: none

Path conditions:
  backend:builds: any of: main.go, cmd/**/*, internal/**/*, pkg/**/*, deployments/backend/*
  frontend:build: any of: web/app/**/*, deployments/frontend/*
